@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* color: #fff; */
    background-color:rgb(12, 11, 11);
}

header, footer {
    background-color: #BDC3C7;
    color: black;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

header .header-content img {
    margin-right: 10px;
}


main {
    padding: 20px 0;
}

footer {

    padding: 20px 0;
}

footer p, footer a {

    text-decoration: none;
}

footer img {
    margin-top: 10px;
}

.poppins-thin {
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: normal;
}

.poppins-extralight {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: normal;
}

.poppins-light {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
}

.poppins-regular {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
}

.poppins-semibold {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}

.poppins-extrabold {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}

.poppins-black {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
}

.poppins-thin-italic {
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: italic;
}

.poppins-extralight-italic {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: italic;
}

.poppins-light-italic {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: italic;
}

.poppins-regular-italic {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: italic;
}

.poppins-medium-italic {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.poppins-semibold-italic {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: italic;
}

.poppins-bold-italic {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: italic;
}

.poppins-extrabold-italic {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: italic;
}

.poppins-black-italic {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: italic;
}

.product-details {
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-top: 1px solid #000;
}

.product-details h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.product-details .price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.product-details .stock,
.product-details .expiration {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.product-details .btn {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}

.product-image img {
    max-height: 400px;
    width: auto;
    object-fit: cover;
}

.buton-view:hover{
    background-color: #999;
}





